.pio/
.venv/
__pycache__/
.DS_Store
*.log
build/
dist/
secrets*
.env*
hardware/enclosure/STEP/*.step
hardware/enclosure/STL/*.stl
hardware/enclosure/STEP/CM-Radio_Baugruppe_V0.1.step.zip
hardware/enclosure/STEP/CM-Radio_Deckel_V0.1.step.zip
hardware/enclosure/STL/CM-Radio_Deckel_V0.1.stl.zip
